
checkpoints/neural_networks_smaller1e-3.pt
checkpoints/neural_networks_smaller6e-3.pt
checkpoints/neural_networks_smaller_1.pt
checkpoints/neural_networks_smaller.pt
checkpoints/neural_networks_smaller_funzionante.pt
